<p-card class="site-card cursor-pointer" (click)="navigateToSite()">
  <ng-template pTemplate="header">
    <div class="flex justify-between items-center p-4">
      <h3 class="text-xl font-semibold m-0">{{ siteData.name }}</h3>
      <p-badge
        [severity]="siteData.connection_status === 'online' ? 'success' : (siteData.connection_status === 'warning' ? 'warn' : 'danger')"
        [value]="siteData.connection_status === 'online' ? 'Online' : (siteData.connection_status === 'warning' ? 'Sus' : 'Offline')">
      </p-badge>
    </div>
  </ng-template>

  <div class="text-muted-color">
    <p class="m-0"><strong>Site ID:</strong> {{ siteData.site_id }}</p>
  </div>
</p-card>
