<div class="bg-white/10 backdrop-blur-md rounded-lg p-6 shadow-lg border border-white/20 relative">
  <div class="connection-status" [class.connected]="siteData.connection_status" [class.disconnected]="!siteData.connection_status"></div>
  <h3 class="text-xl font-semibold text-white mb-2">{{ siteData.name }}</h3>
  <h4 class="text-l font-semibold text-white mb-2">{{ siteData.site_id }}</h4>
  <h4 class="text-l font-semibold text-white mb-2">24-hour Uptime: {{ (siteData.uptime * 100).toFixed(2) }}%</h4>
</div>
